*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* #di{
    width:10rem;
}
#dal{
    width:10rem !important;
}
h3{
    width:10rem !important;
}
form{
    width:10rem !important;
}
h4{
    width:10rem 
} */

#di, #dal, h3, form, h4, ul,hr{
    width:18rem !important;
    position:relative !important;
    left:-40px !important;

}
h4.har{
    left:0px !important;
}
button{
    top:-30px;
    
    left:235px !important;
}
#clear-todos{
    left:165px !important;

}

hr{
    left:-3px !important;
    width:19rem !important;
}
hr.hra{
    left:-45px !important;
    width:305px !important;
}
#nigar{
    width:300px !important;
    position:relative !important;
    left:-45px !important;
}
h3{

    left:0px !important;
}
div.bal{
    width:8rem !important;
}
